@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

body, input, textarea, select, button{
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
body{
	line-height: 1.6;
}
ul,ol{
	padding-top: 10px;
	padding-bottom: 10px;
}
 ul,ol,p,blockquote{
 	/*margin-bottom: 20px;*/
 }

/*
 * Base structure
 */



/*
 * Global add-ons
 */

.page-header{
	padding-top: 60px !important;
	margin: 0 0 20px 0 !important;
}
.sub-header {
    padding-top: 50px !important;
    margin-bottom: 20px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #eee;
}

.lead{
	font-size: 13px;
	background: #fbfbfb;
	border: 1px solid #e5e5e5;
	color: #333;
	padding: 10px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.lead em{
	color: #111;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #707070;
}
.nav-sidebar > .active > a{
  color: #444;
  background-color: #e9e9e9;
}
.toc-h2 > a{
	padding-left: 35px !important;
	font-size: 13px;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
